<main>
  
  <div class="container">

    <div class="container--card">
      <div class="card">
        <div class="card--holder">
          <p class="card--holder__price">
            <img [src]="rupeeImg" class="rupee" />100
          </p>
        </div>
      </div>
      <button>Mana Potion</button>
    </div>

    <div class="container--card">
        <div class="card">
          <div class="card--holder">
            <p class="card--holder__price">
              <img [src]="rupeeImg" class="rupee" />100
            </p>
          </div>
        </div>
        <button>Mana Potion</button>
      </div>

      <div class="container--card">
        <div class="card">
          <div class="card--holder">
            <p class="card--holder__price">
              <img [src]="rupeeImg" class="rupee" />100
            </p>
          </div>
        </div>
        <button>Mana Potion</button>
      </div>

      <div class="container--card">
        <div class="card">
          <div class="card--holder">
            <p class="card--holder__price">
              <img [src]="rupeeImg" class="rupee" />100
            </p>
          </div>
        </div>
        <button>Mana Potion</button>
      </div>



  </div>
</main>
